<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="infoProduk"*ngIf="produk">
    <ion-img class="gambarProduk" [src]="produk.gambar || 'assets/default.png'"></ion-img>
    <ion-item>
      <ion-label>
        <h1>{{ produk.nama }}</h1>
        <p>Kategori: {{ produk.kategori }}</p>
        <p>Stok: {{ produk.stok }}</p>
        <p>Harga Beli: Rp {{ produk.hargaBeli }}</p>
        <p>Harga Jual: Rp {{ produk.hargaJual }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="produk" expand="block" [disabled]="produk.stok == 0" (click)="tambahKeranjang()">
    Tambah ke Keranjang
  </ion-button>
</ion-content>
