<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="infoProduk"*ngIf="products">
    <ion-img class="gambarProduk" [src]="products[id].gambar || 'assets/default.png'"></ion-img>
    <ion-item>
      <ion-label>
        <h1>{{ products[id].nama }}</h1>
        <p>Kategori: {{ products[id].kategori }}</p>
        <p>Stok: {{ products[id].stok }}</p>
        <p>Harga Beli: Rp {{ products[id].hargaBeli }}</p>
        <p>Harga Jual: Rp {{ products[id].hargaJual }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="products" expand="block" [disabled]="products[id].stok == 0" (click)="tambahKeranjang()">
    Tambah ke Keranjang
  </ion-button>
</ion-content>
