<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>
        Jumlah Produk : {{ jumlahProdukDashboard() }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Total Transaksi Hari Ini : {{ jumlahTransaksiDashboard() }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Produk Terlaris : {{ produkTerlarisDashboard() }}
      </ion-label>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="refresh()">Refresh</ion-button>

</ion-content>